@import url(./_active/popup__hint_active.css);

.popup__hint {
    position: relative;
    font-size: 12px;
    color: #f00;
    margin: 0;
    left: 4px;
}

.popup__hint:not(:last-of-type) {
    top: -22px;
}